.section-container {
 
    background: #fff;
    width: 100%;
    
    .signin {
  
      .login {
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        .logobogd {
          text-align: center;
          margin: 30px 0;
        }
        .signin-btn {
          width: 100%;
          color: #30ac7c;
        }
      }
    }
  }